extends ../layout

block content
  h1 Registrar nuevo paciente

  form#form(action='/pacientes/nuevo', method='POST')
    label Nombre:
    input#nombre(type='text', name='nombre', required)
    label#nom 
    br

    label DNI:
    input#dni(type='text', name='dni', required)
    label#dn
    br

    label Sexo:
    select(name='sexo', required)
      option(value='') Selecciona
      option(value='Masculino') Masculino
      option(value='Femenino') Femenino
    br

    label Fecha de nacimiento:
    input#fechaN(type='date', name='fecha_nacimiento', required)
    label#fech
    br

    label Telefono: 
    input#telefono(type='text', name='telefono', required)
    label#tel 
    br

    label Email: 
    input#email(type='email', name='email', required)
    label#ema 
    br

    label direccion: 
    input#direccion(type='text', name='direccion', required) 
    br

    label Seguro:
    select(name='Seguro_id', required)
      option(value='') Selecciona un seguro
      each seguro in seguros
        option(value=seguro.id)= seguro.nombre
    br
    input(type='hidden', name='ingreso', value=ingreso)
    button#btn(type='submit') Registrar
    
   

  if error
    p(style='color: red;') #{error}

  if success
    p(style='color: green;') #{success}

    select(name='Seguro_id', required)
      option(value='') Selecciona un seguro
    if seguros.length
      each seguro in seguros
        option(value=seguro.id)= seguro.nombre
    else
        option(value='') No hay seguros disponibles

  
  script(src='/Scripts/formulario.js') 