extends ../layout

block content
  h1 Lista de Pacientes
  a(href='/pacientes/nuevo') Nuevo paciente

  table(style='border-collapse: collapse; width: 100%;')
    thead
      tr
        th(style='border: 1px solid #000;') Nombre
        th(style='border: 1px solid #000;') DNI
        th(style='border: 1px solid #000;') Sexo
        th(style='border: 1px solid #000;') Fecha de nacimiento
        th(style='border: 1px solid #000;') Teléfono
        th(style='border: 1px solid #000;') Email
        th(style='border: 1px solid #000;') Direccion
        th(style='border: 1px solid #000;') Seguro
    tbody
      each paciente in pacientes
        tr
          td(style='border: 1px solid #000;') #{paciente.nombre}
          td(style='border: 1px solid #000;') #{paciente.DNI}
          td(style='border: 1px solid #000;') #{paciente.sexo}
          td(style='border: 1px solid #000;') #{paciente.fecha_nacimiento ? paciente.fecha_nacimiento.toISOString().substring(0,10) : ''}
          td(style='border: 1px solid #000;') #{paciente.Contacto ? paciente.Contacto.telefono : 'Sin telfono'}
          td(style='border: 1px solid #000;') #{paciente.Contacto ? paciente.Contacto.email : 'Sin Email'}
          td(style='border: 1px solid #000;') #{paciente.Contacto ? paciente.Contacto.dirreccion : 'Sin dirreccion'}
          td(style='border: 1px solid #000;') #{paciente.Seguro ? paciente.Seguro.nombre : 'Sin seguro'}

  if error
    p(style='color: red;') #{error}

