extends ../layout

block content
  h1 Lista de Pacientes
  a(href='/pacientes/nuevo') Nuevo paciente


  // Estilo DataTables
  link(rel='stylesheet', href='https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css')

  table#tablaPacientes.display
    thead
      tr
        th Nombre
        th DNI
        th Sexo
        th Fecha de nacimiento
        th Teléfono
        th Email
        th Dirección
        th Seguro
        th 
    tbody
      each paciente in pacientes
        tr
          td #{paciente.nombre}
          td #{paciente.dni}
          td #{paciente.sexo}
          td #{paciente.fecha_nacimiento ? paciente.fecha_nacimiento.toISOString().substring(0,10) : ''}
          td #{paciente.Contacto ? paciente.Contacto.telefono : 'Sin teléfono'}
          td #{paciente.Contacto ? paciente.Contacto.email : 'Sin email'}
          td #{paciente.Contacto ? paciente.Contacto.direccion : 'Sin dirección'}
          td #{paciente.Seguro ? paciente.Seguro.nombre : 'Sin seguro'}
          td 
            form(action=`/pacientes/ver`, method='get', style='display:inline')
             input(type='hidden', name='id', value=paciente.id)
             button(type='submit') Ver
             






  

  if error
    p(style='color: red;') #{error}

  // scripts
  script(src='https://code.jquery.com/jquery-3.7.1.min.js')
  script(src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js')
  script.
    $(document).ready(function () {
      $('#tablaPacientes').DataTable({
        language: {
          url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
        }
      });
    });
