extends ../layout

block content
  h1 Registrar el ingreso del paciente

  if error
    p(style='color: red;') #{error}
  else if paciente
    ul
      li Nombre: #{paciente.nombre}
      li DNI: #{paciente.dni}
      li Sexo: #{paciente.sexo}
      li Fecha de nacimiento: #{paciente.fecha_nacimiento ? paciente.fecha_nacimiento: 'fecha desconocida'}
      li Telefono: #{paciente.Contacto ? paciente.Contacto.telefono : 'sin telefono'}
      li Email: #{paciente.Contacto ? paciente.Contacto.email : 'sin Email'}
      li Direccion: #{paciente.Contacto ? paciente.Contacto.dirreccion : 'sin Direccion'}
      li Seguro: #{paciente.Seguro ? paciente.Seguro.nombre : 'Sin seguro'}
      br
     
  form(action=`/diagnostico/crear`, method='get', style='display:inline')
     input(type='hidden', name='id', value=paciente.id)
     button(type='submit') Diagnosticar

       // Combo para seleccionar tabla
  label(for='selectorTabla') Selecciona tabla:
  select#selectorTabla
    option(value='tablaIngresos', selected) Ingresos
    option(value='tablaInternaciones') Internaciones
    option(value='tablaDiagnosticos') Diagnósticos



  // Estilo DataTables
  link(rel='stylesheet', href='https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css')

  //tabla de ingresos
  table#tablaIngresos.display
    thead
      tr
        th Fecha del ingreso
        th Emitido Por
        th Tipo de ingreso
        
    tbody
      if ingresos && ingresos.length
       each ingreso in ingresos
         tr
           td #{ingreso.createdAt}
           td #{ingreso.usuario}
           td #{ingreso.Tipos_ingreso.nombre}
 
  //tabla de internaciones
  table#tablaInternaciones.display(style='display: none;')
    thead
      tr
        th habitacion
        th diagnostico 
        th Estado
        th 
    tbody
      if internaciones && internaciones.length 
        each internacion in internaciones
          tr
            td #{internacion.Cama.habitacion_id}
            td #{internacion.Diagnostico.detalles}
            td #{internacion.estado}
            td
              if internacion.estado
              button.btn.btn-success(onclick=`hacerAlgo(${internacion.id})`) Alta 

  //tabla de diagnosticos
  table#tablaDiagnosticos.display(style='display: none;')
    thead
      tr
        th Doctor
        th Tratamiento 
        th Enfermedad 

    tbody
      if diagnosticos && diagnosticos.length 
        each Diagnostico in diagnosticos
          tr
            td #{Diagnostico.Usuario ? Diagnostico.Usuario.nombre : 'no hay usuario'}
            td #{Diagnostico.Tratamiento ? Diagnostico.Tratamiento.descripcion : 'no hay tratamiento'}
            td #{Diagnostico.Enfermedade ? Diagnostico.Enfermedade.nombre : 'no hay enfermedades'}       






  if error
    p(style='color: red;') #{error}

  // Scripts
  script(src='https://code.jquery.com/jquery-3.7.1.min.js')
  script(src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js')
  script(src='/Scripts/HistorialScript.js')
  